<form method = 'post' action = "/">
  <label for = "name"> Puppy Name: <input type ="text" name = "name"></label>
  <label for = "breed"> Puppy Breed: <input type ="text" name = "breed"></label>
  <label for = "age"> Puppy Age: <input type ="text" name = "age"></label>
  <input type = "submit" value = "submit">
</form>
